[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpxpy = "*"
requests = "*"

[dev-packages]
coverage = "*"
mockito = "*"
pytest = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.9"
