[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
codestyle = "pycodestyle ."
test = "python -m pytest tests"

[packages]
gpxpy = "*"
requests = "*"

[dev-packages]
coverage = "*"
mockito = "*"
pytest = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.9"
